* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;

}

#background {
    height: 100vh;
    width: 30vw;
}

#card {
    position: absolute;
    top: 20%;
    left: 30%;
}

#card,
#card2 {
    width: 25vw;
}

button {
    color: white;
    background-color: #3F0063;
    border-radius: 0.5rem;

}

input {
    border: 1px solid black;
    height: 3em;
    border-radius: 5px;
}

#cardname,
#cardnumber {
    width: 25rem;
}

#mm,
#yy {
    width: 5rem;
}

#cvc {
    width: 12.5rem;
}

#confirm {
    width: 25rem;
    height: 3rem;
}

#card1m {
    position: absolute;
    top: 25%;
    right: 10%;
}

#card2m {
    position: absolute;
    top: 55%;
    left: 15%;
}